---
import Heading from '@/components/ui/Heading.astro'
import Subtitle from '@/components/ui/Subtitle.astro'
import Text from '@/components/ui/Text.astro'
import Paragraph from '@/components/ui/Paragraph.astro'
import Astronaut from '@/svg/Astronaut.astro'
---

<section
  id="about-us"
  class="w-full min-h-svh to-quasar-dark from-quasar-darkest grid place-content-center bg-gradient-to-t"
>
  <div
    class="max-w-screen-xl mx-auto flex flex-col lg:flex-row gap-5 items-center z-20 p-5"
  >
    <article class="lg:w-1/2">
      <Astronaut
        width={570}
        height={570}
      />
    </article>

    <article class="lg:w-1/2">
      <Heading className="text-4xl mb-1">Sobre nosotros</Heading>
      <Subtitle className="text-4xl md:text-7xl font-bold mb-3">
        <Text>Quasar Design</Text>
      </Subtitle>

      <Paragraph className="text-base md:text-xl">
        Somos un equipo de diseñadores y desarrolladores que aman crear
        productos digitales increíbles. Nos especializamos en diseño de
        interfaces, desarrollo web y marketing digital.
      </Paragraph>
    </article>
  </div>
</section>
