---
import Meteors from '@/components/magicui/meteors'
import Particles from '@/components/magicui/particles'
import Paragraph from '@/components/ui/Paragraph.astro'
import Text from '@/components/ui/Text.astro'
import Title from '@/components/ui/Title.astro'
import { ChevronDown } from 'lucide-react'
---

<section
  class="grid place-content-center min-h-svh to-quasar-darkest from-quasar-dark bg-gradient-to-t relative overflow-hidden"
>
  <!-- Particles -->
  <Particles
    client:only="react"
    className="absolute left-0 top-0 w-full h-full pointer-events-none"
  />

  <!-- Meteors -->
  <Meteors
    client:only="react"
    number={10}
  />

  <div class="max-w-screen-lg mx-auto flex flex-col items-center z-20 p-5">
    <Title className="text-4xl md:text-8xl text-center">
      Diseño y desarrollo de{' '}
      <Text>aplicaciones web</Text>
    </Title>

    <Paragraph
      className="text-center mt-5 max-w-screen-sm text-base md:text-lg"
    >
      Quasar Design es una agencia de diseño y desarrollo de aplicaciones web
      que se enfoca en la creación de productos digitales de alta calidad.
    </Paragraph>

    <article class="animation-jump mt-10">
      <a href="#about-us">
        <ChevronDown size={40} />
      </a>
    </article>
  </div>
</section>

<style>
  @keyframes Jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animation-jump {
    animation: Jump 1s infinite ease-in-out;
  }
</style>
