---
import ShineBorder from '@/components/magicui/shine-border'
---

<section
  id="our-services"
  class="w-full min-h-svh bg-quasar-darkest grid place-content-center"
>
  <ShineBorder
    className="text-center text-2xl font-bold capitalize"
    color="white"
  >
    Text
  </ShineBorder>
</section>
