---
import { TextRevealByWord } from './magicui/text-reveal'
---

<div class="flex min-h-[16rem] items-center justify-center text-white">
  <TextRevealByWord
    client:only
    text="Con Quasar Design tu marca se verá mejor que nunca"
    className="text-3xl font-bold text-center"
  />
</div>
